### Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.iml
.classpath
.project
.settings/

### IntelliJ / VSCode
.idea/
.vscode/

### Logs
*.log

### OS
Thumbs.db
Desktop.ini

### Go
**/bin/
**/dist/
**/*.exe
**/*.test
**/*.out

### Env files
.env
.env.*

